<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.0-beta1 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">

</head>
<body class="bg-dark text-white container">

<h1>Thymeleaf1.html</h1>
<hr>
<p th:text="${key_model2}"></p>


<form action="">
    <div class="form-group">
        <label th:text="#{name_and_surname}" for="name_surname"></label>
        <label>
            <input type="text" class="form-control" placeholder="Adınız Soyadınız :" name="name_surname"  autofocus
                   required>
        </label>
        <button class="btn btn-primary mt-3">Gönder</button>

    </div>
</form>

<!-- Bootstrap JavaScript Libraries -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"></script>
</body>
</html>